body {
  padding: 0;
  margin: 0;
  font-family: "Lucida Grande", Verdana, Tahoma, Ubuntu, sans-serif;
  font-size: 87.5%;
  line-height: 1.286;
  color: #444;
  background: #ddd;
}

a, a:link, a:visited {
  color: #36C
}

p {
  margin: 0.8em 0 1em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0 0;
  padding: 0;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0 1em;
  padding: 0;
}

#wrapper {
  margin: 20px auto;
  padding: 30px 20px;
  position: relative;
  width: 700px;
  text-align: center;
}

p.error {
  color: #666;
  font-size: 0.8em;
}

#twitter_feed {
  margin: 10px auto;
  padding: 5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}